Repository KBot-discord/KBot, changes with the labels that .github/labeler.yml gives for each.
All labels: apps:bot, apps:discord-status, apps:docs, apps:web, kubernetes, packages, protos

docs: add @killbasa as a contributor
  .all-contributorsrc
  README.md
Labels: none

docs: add @renovate[bot] as a contributor
  .all-contributorsrc
  README.md
Labels: none

docs: add @allcontributors[bot] as a contributor
  .all-contributorsrc
  README.md
Labels: none

chore: update prettierignore
  .prettierignore
Labels: none

docs: add contributors (#130)
  .all-contributorsrc
  .prettierignore
  README.md
Labels: none

chore: bump versions and add generated files
  apps/bot/package.json
  apps/discord-status/.gitignore
  apps/discord-status/Taskfile.yml
  apps/discord-status/cmd/discord-status/main.go
  apps/discord-status/gen/discord_status/guilds/v1/guild.pb.go
  apps/discord-status/gen/discord_status/guilds/v1/guildsv1connect/guild.connect.go
  apps/discord-status/go.mod
  apps/discord-status/go.sum
  apps/docs/package.json
  apps/web/package.json
  go.work.sum
  package.json
  packages/database/package.json
  packages/prisma/package.json
  yarn.lock
Labels: apps:bot, apps:discord-status, apps:docs, apps:web, packages

chore: bump versions and add generated files (#133)
  apps/bot/package.json
  apps/discord-status/.gitignore
  apps/discord-status/Taskfile.yml
  apps/discord-status/cmd/discord-status/main.go
  apps/discord-status/gen/discord_status/guilds/v1/guild.pb.go
  apps/discord-status/gen/discord_status/guilds/v1/guildsv1connect/guild.connect.go
  apps/discord-status/go.mod
  apps/discord-status/go.sum
  apps/docs/package.json
  apps/web/package.json
  go.work.sum
  package.json
  packages/database/package.json
  packages/prisma/package.json
  yarn.lock
Labels: apps:bot, apps:discord-status, apps:docs, apps:web, packages

fix: default avatar creation
  apps/bot/src/lib/utilities/discord.ts
  apps/web/src/lib/components/auth/UserButton.svelte
  apps/web/src/lib/types/app.ts
  apps/web/src/lib/utils/discord.ts
Labels: apps:bot, apps:web

fix: remove store logging
  apps/bot/src/KBot.ts
Labels: apps:bot

fix: remove store logging (#136)
  apps/bot/src/KBot.ts
Labels: apps:bot

fix: improper guildMemberAdd checks
  apps/bot/src/listeners/guilds/members/guildMemberAdd.ts
Labels: apps:bot

fix: improper guildMemberAdd checks (#137)
  apps/bot/src/listeners/guilds/members/guildMemberAdd.ts
Labels: apps:bot

fix: handle gif links in `Add emote` properly
  apps/bot/src/commands/Utility/addEmote.ts
Labels: apps:bot

fix: handle gif links in `Add emote` properly (#138)
  apps/bot/src/commands/Utility/addEmote.ts
Labels: apps:bot

chore: bump versions
  apps/bot/package.json
  apps/bot/src/listeners/guilds/scheduledEvents/guildScheduledEventUpdate.ts
  apps/web/package.json
  package.json
  packages/database/package.json
  packages/holodex/package.json
  packages/meili/package.json
  packages/prisma/package.json
  packages/proto/package.json
  packages/redis/package.json
  yarn.lock
Labels: apps:bot, apps:web, packages

chore: bump versions (#140)
  apps/bot/package.json
  apps/bot/src/listeners/guilds/scheduledEvents/guildScheduledEventUpdate.ts
  apps/web/package.json
  package.json
  packages/database/package.json
  packages/holodex/package.json
  packages/meili/package.json
  packages/prisma/package.json
  packages/proto/package.json
  packages/redis/package.json
  yarn.lock
Labels: apps:bot, apps:web, packages

feat: add types to listeners
  apps/bot/src/listeners/guilds/guildCreate.ts
  apps/bot/src/listeners/guilds/guildDelete.ts
  apps/bot/src/listeners/guilds/members/guildMemberAdd.ts
  apps/bot/src/listeners/guilds/members/guildMemberUpdate.ts
  apps/bot/src/listeners/guilds/scheduledEvents/guildScheduledEventDelete.ts
  apps/bot/src/listeners/guilds/stages/stageInstanceDelete.ts
  apps/bot/src/listeners/guilds/voice/voiceStateUpdate.ts
Labels: apps:bot

feat: add types to listeners (#141)
  apps/bot/src/listeners/guilds/guildCreate.ts
  apps/bot/src/listeners/guilds/guildDelete.ts
  apps/bot/src/listeners/guilds/members/guildMemberAdd.ts
  apps/bot/src/listeners/guilds/members/guildMemberUpdate.ts
  apps/bot/src/listeners/guilds/scheduledEvents/guildScheduledEventDelete.ts
  apps/bot/src/listeners/guilds/stages/stageInstanceDelete.ts
  apps/bot/src/listeners/guilds/voice/voiceStateUpdate.ts
Labels: apps:bot

fix: display remaining sticker slots properly
  apps/bot/src/interaction-handlers/modals/addSticker.ts
Labels: apps:bot

fix: display remaining sticker slots properly (#142)
  apps/bot/src/interaction-handlers/modals/addSticker.ts
Labels: apps:bot

fix: check emoji/sticker upload errors
  apps/bot/src/interaction-handlers/modals/addEmote.ts
  apps/bot/src/interaction-handlers/modals/addSticker.ts
Labels: apps:bot

fix: check emoji/sticker upload errors (#143)
  apps/bot/src/interaction-handlers/modals/addEmote.ts
  apps/bot/src/interaction-handlers/modals/addSticker.ts
Labels: apps:bot

chore: bump versions
  .github/workflows/bot-build.yml
  .github/workflows/discord-status-build.yml
  .github/workflows/web-build.yml
  apps/bot/package.json
  apps/discord-status/go.mod
  apps/discord-status/go.sum
  apps/web/package.json
  package.json
  packages/proto/package.json
  yarn.lock
Labels: apps:bot, apps:discord-status, apps:web, packages

chore: bump versions (#144)
  .github/workflows/bot-build.yml
  .github/workflows/discord-status-build.yml
  .github/workflows/web-build.yml
  apps/bot/package.json
  apps/discord-status/go.mod
  apps/discord-status/go.sum
  apps/web/package.json
  package.json
  packages/proto/package.json
  yarn.lock
Labels: apps:bot, apps:discord-status, apps:web, packages

chore: bump versions
  apps/bot/package.json
  apps/docs/docs/.vitepress/theme/index.ts
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/prisma/package.json
  packages/proto/package.json
  yarn.lock
Labels: apps:bot, apps:docs, apps:web, packages

chore: bump versions (#146)
  apps/bot/package.json
  apps/docs/docs/.vitepress/theme/index.ts
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/prisma/package.json
  packages/proto/package.json
  yarn.lock
Labels: apps:bot, apps:docs, apps:web, packages

feat: listen for deleted channels
  apps/bot/src/listeners/guilds/channels/channelDelete.ts
Labels: apps:bot

feat: listen for deleted channels (#147)
  apps/bot/src/listeners/guilds/channels/channelDelete.ts
Labels: apps:bot

feat: log unknown add emote/sticker errors
  apps/bot/src/interaction-handlers/modals/addEmote.ts
  apps/bot/src/interaction-handlers/modals/addSticker.ts
Labels: apps:bot

feat: log unknown add emote/sticker errors (#148)
  apps/bot/src/interaction-handlers/modals/addEmote.ts
  apps/bot/src/interaction-handlers/modals/addSticker.ts
Labels: apps:bot

feat: handle more emoji/sticker error codes
  apps/bot/src/interaction-handlers/modals/addEmote.ts
  apps/bot/src/interaction-handlers/modals/addSticker.ts
Labels: apps:bot

feat: handle more emoji/sticker error codes (#152)
  apps/bot/src/interaction-handlers/modals/addEmote.ts
  apps/bot/src/interaction-handlers/modals/addSticker.ts
Labels: apps:bot

chore: bump versions and formatting
  apps/bot/package.json
  apps/docs/package.json
  apps/web/.eslintrc.cjs
  apps/web/package.json
  apps/web/src/lib/components/Footer.svelte
  apps/web/src/lib/components/LegalSection.svelte
  apps/web/src/lib/components/LegalSubsection.svelte
  apps/web/src/lib/components/Navbar.svelte
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/lib/components/dashboard/SettingsCard.svelte
  apps/web/src/routes/(api)/oauth/error/+page.svelte
  apps/web/src/routes/(static)/privacy/+page.svelte
  apps/web/src/routes/(static)/terms/+page.svelte
  apps/web/src/routes/+layout.svelte
  package.json
  packages/database/package.json
  packages/holodex/package.json
  packages/meili/package.json
  packages/prisma/package.json
  packages/proto/package.json
  packages/redis/package.json
  yarn.lock
Labels: apps:bot, apps:docs, apps:web, packages

chore: revert prettier upgrade
  apps/bot/package.json
  package.json
  packages/database/package.json
  packages/holodex/package.json
  packages/meili/package.json
  packages/prisma/package.json
  packages/proto/package.json
  packages/redis/package.json
  yarn.lock
Labels: apps:bot, packages

chore: bump versions and formatting (#153)
  apps/bot/package.json
  apps/docs/package.json
  apps/web/.eslintrc.cjs
  apps/web/package.json
  apps/web/src/lib/components/Footer.svelte
  apps/web/src/lib/components/LegalSection.svelte
  apps/web/src/lib/components/LegalSubsection.svelte
  apps/web/src/lib/components/Navbar.svelte
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/lib/components/dashboard/SettingsCard.svelte
  apps/web/src/routes/(api)/oauth/error/+page.svelte
  apps/web/src/routes/(static)/privacy/+page.svelte
  apps/web/src/routes/(static)/terms/+page.svelte
  apps/web/src/routes/+layout.svelte
  package.json
  packages/database/package.json
  packages/holodex/package.json
  packages/meili/package.json
  packages/prisma/package.json
  packages/proto/package.json
  packages/redis/package.json
  yarn.lock
Labels: apps:bot, apps:docs, apps:web, packages

chore: bump versions
  .devcontainer/devcontainer.json
  apps/bot/package.json
  apps/bot/src/commands/YouTube/youtube.ts
  apps/bot/src/lib/structures/handlers/MinageHandler.ts
  apps/bot/src/listeners/guilds/voice/voiceStateUpdate.ts
  apps/bot/tsconfig.eslint.json
  apps/docs/package.json
  apps/web/.prettierrc
  apps/web/package.json
  apps/web/src/app.html
  package.json
  packages/database/package.json
  packages/holodex/package.json
  packages/meili/package.json
  packages/prisma/package.json
  packages/proto/package.json
  packages/redis/package.json
  yarn.lock
Labels: apps:bot, apps:docs, apps:web, packages

chore: bump versions (#160)
  .devcontainer/devcontainer.json
  apps/bot/package.json
  apps/bot/src/commands/YouTube/youtube.ts
  apps/bot/src/lib/structures/handlers/MinageHandler.ts
  apps/bot/src/listeners/guilds/voice/voiceStateUpdate.ts
  apps/bot/tsconfig.eslint.json
  apps/docs/package.json
  apps/web/.prettierrc
  apps/web/package.json
  apps/web/src/app.html
  package.json
  packages/database/package.json
  packages/holodex/package.json
  packages/meili/package.json
  packages/prisma/package.json
  packages/proto/package.json
  packages/redis/package.json
  yarn.lock
Labels: apps:bot, apps:docs, apps:web, packages

chore: bump versions
  .yarn/releases/yarn-3.6.0.cjs
  .yarn/releases/yarn-3.6.2.cjs
  .yarnrc.yml
  apps/bot/package.json
  apps/bot/src/commands/YouTube/youtube.ts
  apps/bot/src/config.ts
  apps/bot/src/lib/extensions/KBotClient.ts
  apps/bot/src/lib/structures/handlers/MinageHandler.ts
  apps/bot/src/listeners/guilds/voice/voiceStateUpdate.ts
  apps/bot/src/plugins/dependencies/register.ts
  apps/bot/src/scheduled-tasks/holodex/sync.ts
  apps/docs/package.json
  apps/web/.prettierrc
  apps/web/package.json
  apps/web/src/app.html
  package.json
  packages/database/package.json
  packages/holodex/package.json
  packages/meili/package.json
  packages/prisma/package.json
  packages/proto/package.json
  packages/redis/package.json
  tsconfig.eslint.json
  yarn.lock
Labels: apps:bot, apps:docs, apps:web, packages

chore: bump versions
  .yarn/releases/yarn-3.6.0.cjs
  .yarn/releases/yarn-3.6.2.cjs
  .yarnrc.yml
  apps/bot/package.json
  apps/bot/src/config.ts
  apps/bot/src/lib/extensions/KBotClient.ts
  apps/bot/src/listeners/guilds/voice/voiceStateUpdate.ts
  apps/bot/src/plugins/dependencies/register.ts
  apps/bot/src/scheduled-tasks/holodex/sync.ts
  apps/bot/tsconfig.json
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/database/package.json
  packages/holodex/package.json
  packages/meili/package.json
  packages/prisma/package.json
  packages/proto/package.json
  packages/redis/package.json
  tsconfig.eslint.json
  yarn.lock
Labels: apps:bot, apps:docs, apps:web, packages

fix: migrate svelte-meta-tags
  apps/web/src/lib/components/Meta.svelte
Labels: apps:web

.github/labeler.yml:

"apps:bot":
  - "apps/bot/**"
  - "protos/**"

"apps:discord-status":
  - "apps/discord-status/**"

"apps:docs":
  - "apps/docs/**"

"apps:web":
  - "apps/web/**"
  - "protos/**"

"kubernetes":
  - "k8s/**"

"packages":
  - "packages/**"

"protos":
  - "protos/**"
