Repository KBot-discord/KBot, changes with the labels that .github/labeler.yml gives for each.
All labels: apps:bot, apps:discord-status, apps:docs, apps:web, kubernetes, packages, protos

chore: bump versions (#165)
  .yarn/releases/yarn-3.6.0.cjs
  .yarn/releases/yarn-3.6.2.cjs
  .yarnrc.yml
  apps/bot/package.json
  apps/bot/src/config.ts
  apps/bot/src/lib/extensions/KBotClient.ts
  apps/bot/src/listeners/guilds/voice/voiceStateUpdate.ts
  apps/bot/src/plugins/dependencies/register.ts
  apps/bot/src/scheduled-tasks/holodex/sync.ts
  apps/bot/tsconfig.json
  apps/docs/package.json
  apps/web/package.json
  apps/web/src/lib/components/Meta.svelte
  package.json
  packages/database/package.json
  packages/holodex/package.json
  packages/meili/package.json
  packages/prisma/package.json
  packages/proto/package.json
  packages/redis/package.json
  tsconfig.eslint.json
  yarn.lock
Labels: apps:bot, apps:docs, apps:web, packages

fix: docs styling
  apps/docs/docs/.vitepress/theme/index.ts
  apps/docs/docs/.vitepress/theme/theme.css
Labels: apps:docs

fix: downgrade eslint
  apps/bot/package.json
  apps/web/package.json
  package.json
  packages/database/package.json
  packages/holodex/package.json
  packages/meili/package.json
  packages/prisma/package.json
  packages/proto/package.json
  packages/redis/package.json
  yarn.lock
Labels: apps:bot, apps:web, packages

fix: pin eslint this time
  apps/bot/package.json
  apps/web/package.json
  package.json
  packages/database/package.json
  packages/holodex/package.json
  packages/meili/package.json
  packages/prisma/package.json
  packages/proto/package.json
  packages/redis/package.json
  yarn.lock
Labels: apps:bot, apps:web, packages

fix: lets try again
  apps/bot/package.json
  apps/web/package.json
  package.json
  packages/database/package.json
  packages/holodex/package.json
  packages/meili/package.json
  packages/prisma/package.json
  packages/proto/package.json
  packages/redis/package.json
  yarn.lock
Labels: apps:bot, apps:web, packages

fix: dont cache buf:generate
  turbo.json
Labels: none

fix: add dep
  package.json
  yarn.lock
Labels: none

fix: add dep x2
  apps/bot/package.json
  yarn.lock
Labels: apps:bot

chore: bump versions
  apps/bot/package.json
  apps/web/package.json
  package.json
  yarn.lock
Labels: apps:bot, apps:web

chore: update workflows
  .github/workflows/bot-build.yml
  .github/workflows/bot-ci.yml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/discord-status-build.yml
  .github/workflows/discord-status-ci.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/proto-ci.yml
  .github/workflows/proto-push.yml
  .github/workflows/web-build.yml
  .github/workflows/web-ci.yml
Labels: none

chore: update readme
  README.md
Labels: none

fix: eslint deps
  apps/bot/package.json
  yarn.lock
Labels: apps:bot

chore: remove status proto from matrix
  .github/workflows/proto-push.yml
Labels: none

chore: remove status proto from matrix (#179)
  .github/workflows/proto-push.yml
Labels: none

chore: create migration
  packages/prisma/package.json
  packages/prisma/prisma/migrations/20231102191814_remove_twitch/migration.sql
Labels: packages

chore: remove codacy badge
  README.md
Labels: none

chore: create migration (#180)
  README.md
  packages/prisma/package.json
  packages/prisma/prisma/migrations/20231102191814_remove_twitch/migration.sql
Labels: packages

.github/labeler.yml:

"apps:bot":
  - "apps/bot/**"
  - "protos/**"

"apps:discord-status":
  - "apps/discord-status/**"

"apps:docs":
  - "apps/docs/**"

"apps:web":
  - "apps/web/**"
  - "protos/**"

"kubernetes":
  - "k8s/**"

"packages":
  - "packages/**"

"protos":
  - "protos/**"
