Repository KBot-discord/KBot, changes with the labels that .github/labeler.yml gives for each.
All labels: apps:bot, apps:docs, packages

.github/labeler.yml:

"apps:bot":
  - "apps/bot/**"
  - "protos/**"

"apps:docs":
  - "apps/docs/**"

"packages":
  - "packages/**"

fix: dockerfile
  apps/bot/Dockerfile
Labels: apps:bot

chore: update ci
  .github/workflows/bot-build.yml
  .github/workflows/bot-ci.yml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/labeler.yml
Labels: none

fix: yarn is stinky
  apps/bot/Dockerfile
  apps/bot/docker-compose.bot.yml
  apps/bot/docker-compose.yml
  apps/bot/package.json
Labels: apps:bot

fix: dockerfile (#192)
  .github/workflows/bot-build.yml
  .github/workflows/bot-ci.yml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/labeler.yml
  apps/bot/Dockerfile
  apps/bot/docker-compose.bot.yml
  apps/bot/docker-compose.yml
  apps/bot/package.json
Labels: apps:bot

chore: bump deps
  .devcontainer/devcontainer.json
  apps/bot/package.json
  apps/bot/src/lib/extensions/KBotClient.ts
  apps/bot/src/lib/services/PollService.ts
  apps/bot/src/lib/services/index.ts
  apps/bot/src/listeners/client/ready.ts
  apps/bot/src/modules/CoreModule.ts
  apps/bot/src/modules/EventModule.ts
  apps/bot/src/modules/ModerationModule.ts
  apps/bot/src/modules/UtilityModule.ts
  apps/bot/src/modules/WelcomeModule.ts
  apps/bot/src/modules/YouTubeModule.ts
  apps/bot/vitest.config.ts
  apps/docs/package.json
  package.json
  packages/holodex/package.json
  packages/meili/package.json
  tsconfig.eslint.json
  vitest.config.mts
  vitest.workspace.mts
  yarn.lock
Labels: apps:bot, apps:docs, packages

fix: revert labeler
  .github/workflows/labeler.yml
Labels: none

chore: bump deps (#197)
  .devcontainer/devcontainer.json
  .github/workflows/labeler.yml
  apps/bot/package.json
  apps/bot/src/lib/extensions/KBotClient.ts
  apps/bot/src/lib/services/PollService.ts
  apps/bot/src/lib/services/index.ts
  apps/bot/src/listeners/client/ready.ts
  apps/bot/src/modules/CoreModule.ts
  apps/bot/src/modules/EventModule.ts
  apps/bot/src/modules/ModerationModule.ts
  apps/bot/src/modules/UtilityModule.ts
  apps/bot/src/modules/WelcomeModule.ts
  apps/bot/src/modules/YouTubeModule.ts
  apps/bot/vitest.config.ts
  apps/docs/package.json
  package.json
  packages/holodex/package.json
  packages/meili/package.json
  tsconfig.eslint.json
  vitest.config.mts
  vitest.workspace.mts
  yarn.lock
Labels: apps:bot, apps:docs, packages

fix: deps
  apps/bot/package.json
  yarn.lock
Labels: apps:bot

chore: update readme
  README.md
Labels: none

fix: deps (#198)
  README.md
  apps/bot/package.json
  yarn.lock
Labels: apps:bot

fix: fix deps again
  apps/bot/package.json
  yarn.lock
Labels: apps:bot

fix: fix deps again (#199)
  apps/bot/package.json
  yarn.lock
Labels: apps:bot

fix: poll votes
  apps/bot/package.json
  apps/bot/src/commands/Dev/youtubeSync.ts
  apps/bot/src/interaction-handlers/buttons/pollVote.ts
  apps/bot/src/lib/services/CoreSettingsService.ts
  apps/bot/src/lib/services/EventSettingsService.ts
  apps/bot/src/lib/services/KaraokeService.ts
  apps/bot/src/lib/services/ModerationSettingsService.ts
  apps/bot/src/lib/services/PollService.ts
  apps/bot/src/lib/services/UtilitySettingsService.ts
  apps/bot/src/lib/services/WelcomeSettingsService.ts
  apps/bot/src/lib/services/YoutubeSettingsService.ts
  apps/bot/src/lib/services/types/poll.ts
  apps/bot/src/lib/structures/ResultClass.ts
  apps/bot/src/lib/structures/errors/index.ts
  apps/bot/src/listeners/errors/scheduledTaskError.ts
  apps/bot/src/scheduled-tasks/holodex/sync.ts
  apps/bot/src/scheduled-tasks/utility/pollResults.ts
  apps/bot/tsconfig.json
  apps/docs/package.json
  package.json
  packages/README.md
  packages/holodex/package.json
  packages/holodex/tsconfig.json
  packages/holodex/tsup.config.ts
  packages/meili/package.json
  packages/meili/tsconfig.json
  packages/meili/tsup.config.ts
  tsconfig.base.json
  turbo.json
  yarn.lock
Labels: apps:bot, apps:docs, packages

fix: poll votes (#200)
  apps/bot/package.json
  apps/bot/src/commands/Dev/youtubeSync.ts
  apps/bot/src/interaction-handlers/buttons/pollVote.ts
  apps/bot/src/lib/services/CoreSettingsService.ts
  apps/bot/src/lib/services/EventSettingsService.ts
  apps/bot/src/lib/services/KaraokeService.ts
  apps/bot/src/lib/services/ModerationSettingsService.ts
  apps/bot/src/lib/services/PollService.ts
  apps/bot/src/lib/services/UtilitySettingsService.ts
  apps/bot/src/lib/services/WelcomeSettingsService.ts
  apps/bot/src/lib/services/YoutubeSettingsService.ts
  apps/bot/src/lib/services/types/poll.ts
  apps/bot/src/lib/structures/ResultClass.ts
  apps/bot/src/lib/structures/errors/index.ts
  apps/bot/src/listeners/errors/scheduledTaskError.ts
  apps/bot/src/scheduled-tasks/holodex/sync.ts
  apps/bot/src/scheduled-tasks/utility/pollResults.ts
  apps/bot/tsconfig.json
  apps/docs/package.json
  package.json
  packages/README.md
  packages/holodex/package.json
  packages/holodex/tsconfig.json
  packages/holodex/tsup.config.ts
  packages/meili/package.json
  packages/meili/tsconfig.json
  packages/meili/tsup.config.ts
  tsconfig.base.json
  turbo.json
  yarn.lock
Labels: apps:bot, apps:docs, packages

fix: monorepos suck
  apps/bot/Dockerfile
  packages/holodex/tsconfig.json
  packages/holodex/tsup.config.ts
  packages/meili/tsconfig.json
  packages/meili/tsup.config.ts
  turbo.json
Labels: apps:bot, packages

fix: monorepos suck (#201)
  apps/bot/Dockerfile
  packages/holodex/tsconfig.json
  packages/holodex/tsup.config.ts
  packages/meili/tsconfig.json
  packages/meili/tsup.config.ts
  turbo.json
Labels: apps:bot, packages

chore: bump deps
  apps/bot/Dockerfile
  apps/bot/package.json
  apps/bot/src/commands/YouTube/youtube.ts
  apps/docs/package.json
  package.json
  packages/holodex/package.json
  packages/meili/package.json
  yarn.lock
Labels: apps:bot, apps:docs, packages

chore: bump deps (#203)
  apps/bot/Dockerfile
  apps/bot/package.json
  apps/bot/src/commands/YouTube/youtube.ts
  apps/docs/package.json
  package.json
  packages/holodex/package.json
  packages/meili/package.json
  yarn.lock
Labels: apps:bot, apps:docs, packages
